/*
Run this script on SQL Server 2008 or later. There may be flaws if running on earlier versions of SQL Server.
*/
ALTER TABLE [dbo].[Revision2Disks] ADD CONSTRAINT [PK_Revision2Disks_Id] PRIMARY KEY CLUSTERED ([Id])
GO
